.heading {
    color: rgb(213, 213, 213);
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.para {
    text-shadow: 0cm 0cm 5px rgb(255, 255, 255);
    font-size: 25px;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: aliceblue;
    font-style: bold;
}
ul {
    list-style-type: square;
    margin: 20px;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li {
    margin: 10px 0;
}
#link:hover {
    text-decoration: none;
    font-style: italic;
    color: rgb(0, 255, 38);
    cursor: pointer;
}
#mainheader {
    background-color: rgb(247, 244, 244);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-image: url("https://t3.ftcdn.net/jpg/02/09/52/26/360_F_209522668_IWRapuvKgoCF2iIw6UqK54mVNYbAFGfN.jpg");
}
#mainfooter {
    background-color: rgb(247, 244, 244);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#list {
    color: rgb(213, 213, 213);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
#list:active {
    color: yellow;
}